*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: blueviolet;
    text-align: center;
    color: rgb(198, 169, 223);
}
.container{
    /* border: 1px solid yellow; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    /* border: 1px solid red; */
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: red;
    background-color: rgb(198, 169, 223);
}
#reset-btn, #new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(198, 169, 223);
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
#msg{
    color: rgb(198, 169, 223);
    font-size: 5vmin;
}
.msg-container{
    height: 15vmin;
}
.hide{
    display: none;
}